<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	
	<div class="home home-about container">
		<div class="jumbotron">
			<h1>About</h1>
			<p>This is about page for my board test</p>
		</div>
	</div>
</body>
</html>